
@{
    ViewBag.Title = "AddRole";
}

<h2>AddRole</h2>

<div>
    @using (Html.BeginForm())
    {
        <div>
            Enter Name: @Html.Editor("Name")<br />
            <input type="submit" value="Add this role" /><br />
        </div>
    }
</div>

